*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ROOT */
:root {
  --container-width: 1280px;
  --primary-button: #545454;

  /* 앨범 커버 이미지 비율 1:1 */
  --card-size: 190px;
}

.divider {
  max-width: var(--container-width);
  height: 1px;
  background-color: #ececec;
  margin: 50px auto 70px auto;
  width: 98%;
}

.btn {
  outline: none;
  border: none;
}

.btn-primary{
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  background-color: var(--primary-button);
  align-items: center;
  padding: 15px 40px;
  height: 60px;
  line-height: 30px;
}


/* MAIN PAGE  */
.main-container {
  min-height: 100vh;
}

.main-top {
  width: 100%;
}

.main-content {
  max-width: var(--container-width);
  margin: 50px auto;
  position: relative;
}

.main-top-header {
  width: 100%;
  height: 300px;
  background-color: lightgrey;
}

.main-list {
  margin-bottom: 80px;
  display: flex;
  flex-direction:column;
  margin: 0 auto;
}

.main-list-title {
  font-size: 25px;
  margin-left: 10px;
}


.main-card {
  display: flex;
  flex-direction: column;
  width: var(--card-size);
  padding: 10px;  
  align-items: center;
  justify-content: center;
}

.main-album-art {
  width: var(--card-size);
  height: var(--card-size);
  object-fit: cover;
  border-radius:8px;
  margin-right: 0;
  background-color: #7e7e7e;
}

.main-card-text {
  width: var(--card-size);
}

.main-card-title {
  font-size: 16px;
  margin-bottom: 6px;
}

.main-card-artist{
  font-size: 14px;
  color: #7e7e7e;
  margin: 0;
}

.spinner-wrap{
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

/* MAIN PAGE END */

/* MUSIC FEED */
.musicfeed-container{
  max-width: var(--container-width);
  margin: 50px auto;
  position: relative;
}

.feed-category{
  margin-bottom: 100px;
}

.genre-text{
  font-size: 22px;
  font-weight: 600;
}

.categories{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.category {
  width:240px;
  height: 64px;
  border-radius:10px;
  font-size: 16px;
  background-color: #F0F0F0;
  padding: 16px 30px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.feed-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap:26px; 
}

.feed-card {
  display: flex;
  flex-direction: column;
  width: var(--card-size);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* MUSIC FEED END */

/* DETAIL  */
.detail-container{
  max-width: var(--container-width);
  margin: 50px auto 100px auto;
  position: relative;
}
.music-detail{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-album-art{
  width: 290px;
  height: 290px;
  object-fit: cover;
}

.detail-artist-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
  margin-top: 60px;
}

.detail-artist-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.detail-artist{
  font-size: 18px;
}

.detail-info-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.detail-info-title{
  font-size: 20px;
  padding-bottom: 5px;
}

.flex-wrap{
  display: flex;
  align-items: center;
  gap:5px;
}

.add-playlist{
  background-color: #F3F3F3;
  padding: 8px 17px;
  border-radius: 10px;
}

.detail-wavefom{
  border-radius: 10px;
  height: 120px;
  width: 100%;
  margin: 80px auto 25px auto;
}

.detail-like{
  font-size: 15px;
  margin: 0;
}

.detail-song-detail{
  font-size: 15px;
  color: #7E7E7E; 
  margin-top: 63px;
  margin-bottom: 34px;
  white-space: pre-wrap;
  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
  line-height: 22px;
  height: 66px;
}

.detail-more-detail{
  cursor: pointer;
  font-size: 12px;
  color: #BCBCBC;
  margin: 0;
}
.spangrey {
  color: #A8A8A8;
}

/* COMMENT */

.comment-input-wrap{
  align-items: center;
  display: flex;
  margin-bottom: 50px;
}

.detail-artist-img-sm{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.comment-input{
  padding: 15px 30px;
  margin: 0px 20px 0px 30px;
  background: #E8E8E8;
  border-radius: 10px;
  max-width: 1050px;
  width: 100%;
  outline: none;
  border: none;
  height: 60px;
  font-size: 18px;
}

.comment-input::placeholder{
  font-size: 18px;
}

.all-comments{
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
}

.comment-wrap{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.column-wrap{
  display: flex;
  flex-direction: column;
  width:100%;
  
}

.row-wrap{
  display: flex;
  flex-direction: row;
  width:100%;
  align-items:center;
}

.flex-between{
  justify-content: space-between;
}

.comment-writer{
  font-size: 17px;
  margin: 0 0 10px 0;
}

.comment-text{
  font-size: 15px;
  color: #434343;
  margin:0;
}

.spantime {
  color: #BCBCBC;
  font-size: 14px;
  margin: 0px 7px;
}

.trashcan{
  font-size:19px;
  vertical-align: bottom;
}

.edit-comment-input{
  padding: 15px 30px;
  margin: 0px 20px 0px 0px;
  background: #E8E8E8;
  border-radius: 10px;
  max-width: 1050px;
  width: 100%;
  outline: none;
  border: none;
  height: 60px;
  font-size: 18px;
}

.edit-comment-icon{
  display: inline;
  width: 18px;
  height: 18px;
}

.icon-round-button{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  font-size: 22px;
  position: relative;
}

.icon-round-button:hover{
  background: #E8E8E8;
}

.relative-wrap{
  position: relative;
}

.dropdown-menu{
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu:first-child{
  padding-bottom: 0px !important;
}

.dropdown-menu>p{
  margin: 3px;
}

.dropdown-box {
  position: absolute;
  top:38px;
  border: 1px solid black;
  background: white;
  padding: 0;
  margin: 0;
}

/* DETAIL END */

/* WAVE FORM */
.play-button {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: black;
  border-radius:50%;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-control{
  width: 100px;
  margin-left: 10px;
}

.controls{
  margin-top: 10px;
}

/* WAVE FORM END */



/* MYPAGE */
.mypage-container {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0px;
  gap: 40px;
  width: 1280px;
  height: 1459px; */

  max-width: 1280px;
  width: 100%;
  margin: 50px auto;
  position: relative;
  
}

.mypage-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1280px;
  height: 123px;
}

.header-porfile-img{
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background-color: #D9D9D9;
}

.header-profile-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1120px;
  height: 123px;
}

.header-artist{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 232px;
  height: 123px;
}

.header-artist-name {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-artist-info {
  font-size: 14px;
  color: #7e7e7e;
  margin-top: -20px;
}

.header-sns {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;

  margin-top: -40px;
}

.sns-icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  margin-right: -10px;
}

.header-follow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;

  width: 225px;
  height: 22px;

}

.follow-follower {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 82px;
  height: 22px;
  
  margin-top: -20px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #7E7E7E;
}

.follow-follower-count {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  margin-top: -20px;
  margin-left: -40px;

  color: #000000;
}

.mypage-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;

  width: 1280px;
  height: 1196px;
}

.body-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 20px;
  gap: 61px;
}

.body-bar-menu {
  cursor: pointer;
}

.body-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 80px;

  width: 1280px;
  height: 1060px;
}

.body-like {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 39px;

  width: 1280px;
  height: 317px;
}

.body-font {
  font-size: 25px;
  color: #000000;
  font-weight: 500;
}

.body-like-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;

  width: 1280px;
  height: 248px;
}

.body-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  margin-top: -50px;

  width: 190px;
  height: 248px;
}

.body-card-img {
  width: var(--card-size);
  border-radius: 8px;
}

.body-title {
  color: #000000;
  font-size: 16px;

  margin-top: -15px;
}

.body-artist {
  color: #7E7E7E;
  font-size: 14px;

  margin-top: -15px;
}

.body-following {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 39px;

  width: 1280px;
  height: 266px;
}

.body-following-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.body-circle {
  width: 158px;
  height: 158px;
  border-radius: 50%;

  margin-top: -50px;
  
  background-color: #D9D9D9;
}

.body-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 39px;

  width: 1280px;
  height: 317px;

  background-color: #7e7e7e;
}


/* MYPAGE END */


/* SIGNUP PAGE */

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0px;
  gap: 50px;

  max-width: 1280px;
  width: 100%;
  height: 1759px;

  margin : 80px auto;
}

.signup-title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;

  width: 134px;
  height: 78px;
  

}

.signup-title {
  font-size: 30px;  
  line-height: 43px;
  font-style: normal;
  font-weight: bold;

  margin-top: -80px;

  color: #000000;
}

.signup-subtitle {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  font-weight: 400;

  margin-top: -80px;

  color: #7E7E7E;

}

.signup-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  gap: 171px;

  width: 1280px;
  height: 1420px;

  background-color: #f5f5f5;
  border-radius: 15px;
}

.signup-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 75px 0px 0px;
  gap: 50px;

  width: 1140px;
  height: 1280px;
}

.signup-email-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 176px;

  width: 1060px;
  height: 60px;

  /* background-color: #434343; */
}

.signup-email-title-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 63px;
  height: 24px;

}

.signup-email-title {
  width: 52px;
  height: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  margin-top: 0px;

  color: #000000;
}

.signup-email-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 840px;
  height: 60px;

}

.signup-email-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;

  width: 700px;
  height: 60px;

  background: #E8E8E8;
  border-radius: 10px;

  outline: none;
  border: none;
}

.signup-email-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;

  width: 120px;
  height: 60px;

  background: #545454;
  border-radius: 10px;

  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  outline: none;
  border: none;

  cursor: pointer;
  
}

.signup-pw-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 176px;

  width: 1060px;
  height: 89px
}

.signup-pw-title-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 81px;
  height: 24px;
}

.signup-pw-title {
  width: 70px;
  height: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  margin-top: 0px;

  color: #000000;
}

.signup-pw-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 840px;
  height: 89px;
}

.signup-pw-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;

  margin-left: -20px;

  width: 840px;
  height: 60px;

  background: #E8E8E8;
  border-radius: 10px;

  outline: none;
  border: none;
}

.signup-pw-check {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 10px 0px 30px;
  gap: 10px;

  width: 350px;
  height: 19px;
}

.pw-check {
  width: 300px;
  height: 19px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;

  margin-top: 0px;
  margin-left: -30px;

  color: #7E7E7E;
}

.signup-artist-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;

  width: 120px;
  height: 60px;

  background: #545454;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;

  color: #FFFFFF;

  outline: none;
  border: none;

  cursor: pointer;
}

.signup-profile-img-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 113px;

  width: 1060px;
  height: 200px;
}

.profile-title-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 120px;
  height: 24px;
}

.profile-title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  margin-top: 0px;
  
  color: #000000;
}

.profile-img-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 40px;

  width: 840px;
  height: 200px;
}

.profile-img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  align-items: flex-start;

  background: #D9D9D9;
}

.profile-img-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;

  width: 180px;
  height: 60px;

  background: #545454;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: #FFFFFF;

  cursor: pointer;
}

.img-button {
  display: none;
}

.signup-genre-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 176px;

  width: 1060px;
  height: 202px;
}

.signup-genre-title-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 86px;
  height: 24px;
}

.signup-genre-title {
  width: 75px;
  height: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  margin-top: 0px;

  color: #000000;

}

.genre-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 840px;
  height: 202px;
}

.genre-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 840px;
  height: 173px;
}

.genre-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 46px;

  width: 840px;
  height: 51px;

  flex-wrap: wrap;
}

.genre-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 30px;
  gap: 10px;

  width: 200px;
  height: 51px;

  background: #DADADA;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #000000;

  outline: none;
  border: none;

  cursor: pointer;
  
}

.genre-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 10px 0px 30px;
  gap: 10px;

  width: 232px;
  height: 19px;
}

.genre-info-comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  margin-top: 0px;
  margin-left: -30px;

  color: #7E7E7E;
}

.signup-button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  margin: auto;

  width: 200px;
  height: 60px;

  background: #4E4E4E;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;

  outline: none;
  border: none;

  cursor: pointer;
}

/* SIGNUP PAGE END */



/* LOGIN PAGE  */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
  gap: 90px;

  max-width: 1280px;
  width: 100%;
  /* width: 600px; */
  height: 567px;
  
  margin : 0px auto 500px;
}

.login-title {
  width: 89px;
  height: 51px;

  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;

  color: #BCBCBC;

}

.login-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 60px;

  width: 600px;
  height: 306px;

}

.login-info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 28px;

  width: 600px;
  height: 186px;
}

.login-info-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 600px;
  height: 140px;
}

.login-email-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 30px;
  gap: 10px;

  width: 600px;
  height: 60px;

  background: #E8E8E8;
  border-radius: 10px;

  outline: none;
  border: none;
}

.login-info-signup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;

  width: 195px;
  height: 18px;
}

.login-tutti-first {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  
}

.login-tutti-signup {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #414141;

  text-decoration-line: underline;

  cursor: pointer;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 200px;
  height: 60px;

  background: #4E4E4E;
  border-radius: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;

  outline: none;
  border: none;

  cursor: pointer;
}

/* LOGIN PAGE END */

/* SEARCH PAGE */

.search-head{
  font-size:22px;
  color: #7E7E7E;
  margin-bottom: 100px;
}

.bold {
  font-weight:600;
  color: black;
}

.result-name {
  font-size: 25px;
  font-weight: 500;
}

.result-none{
  font-size: 15px;
  color: #7E7E7E;
  margin: 100px auto;
}

/* SEARCH PAGE END */
